.insta-container{
    border: 2px solid black;
    width: 1000px;
    height: 1000px;
    background-color: #fafafa;
    margin: 0px auto;

}
/* 네브바 */
.nav-bar{
    border: 1px solid gray;
    background-color: white;
}

.insta-logo{
    width: 150px;
    height : 50px;
    margin-left : 20px;
}

.insta-search {
    position: relative;
    left: 70px;
    bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;

}

.account {
    float: right;
    margin : 15px;
}

.login, .signup{

    display: inline-block;

}

.login {
    background-color: skyblue;
    color: white;
    padding: 5px;
    border-radius: 5px;

}

.signup{
color: skyblue;
}

/* 유저정보 */
.user-img, .user-info{
    display:inline-block;
    
}

.user{
    /* border : 3px solid black; */
    margin-top: 20px;
    margin-bottom: px;
}

.user-img{
    width: 200px;
    height:150px;
    margin-left: 10px;
    object-fit: cover;
}

.user-info{
    position: relative;
    left: 40px;
    bottom: 10px;
}

.user-name{
    font-size:x-large;
    margin-bottom: 10px;
}

.user-item{
    display: inline-block;
    margin-bottom: 15px;
}

.follow-btn{
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;

}
/* 포스트 */
.post-container{
    border-top: 2px solid gray;
    text-align: center;
    margin-top:10px;
}

.post{ 
    display:inline-block;
    margin : 10px;
}

.insta-photo{
    width: 300px;
    height : 300px;
    margin : 15px;
    object-fit: contain;
}

.insta-photo:hover{
    opacity: 0.9;
    filter: brightness(50%);
}